* {
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color: #f3efef;
    color: #2c2c2c;
    margin: auto;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 80px;
    
    flex-wrap: wrap;
}

.titleDesc {
    font-size: 24px;
    margin: 10px 0;
}

.marcImg {
    border-radius: 8px;
    box-shadow: 4px 4px 4px #acacac;
    border-color: #2c2c2c;
}
.title {
    margin: 4px 0;
    font-size: 50px;
}

.section {
    margin: 40px 0px;
    background-color: #CAE0E2;
    padding: 3rem 1.5rem;
}

.sectionW {
    margin: 4rem 0px;
    padding: 1.5rem;
}


.sectionTitle {

    font-size: 32px;
}

.sectionContent p {
    padding: 0.5rem;
    font-size: 20px;
}

li {
    font-size: 18px;
    margin: 10px;
}

#socials {
    display: flex;
    align-items: baseline;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

#socialTitle {
    text-align: center;
}